<div>
    <div id="content_region">
        <div id="sidebar">
            <h2>Links</h2>
            <ul class="sidebar_menu">
                <li>Courses</li>
                <li>Conferences</li>
                <li>Journals</li>
                <li>Resources</li>
            </ul>
        </div>
        <div id="content">
            <h3>Courses</h3>
            <ul class="links">
                <li><a href="http://uilab.kaist.ac.kr/course/CS570_2009_Spring.html" target="_blank">CS570 Artificial Intelligence, Spring 2009</a>
                </li>
                <li><a href="http://uilab.kaist.ac.kr/course/CS470_2010_Fall.html" target="_blank">CS470 Artificial Intelligence, Fall 2010</a>
                </li>
                <li><a href="http://sites.google.com/site/topicmodelingseminar/" target="_blank">CS774 Topic Modeling Seminar, Spring 2011</a>
                </li>
                <li><a href="http://uilab.kaist.ac.kr/colloquium/" target="_blank">KAIST CS Colloquium, Fall 2011</a>
                </li>
                <li><a href="http://uilab.kaist.ac.kr/course/CS470_2011_Fall.html">CS470 Artificial Intelligence, Fall 2011</a>
                </li>
            </ul>
            <h3>Conferences</h3>
            <ul class="links">
                <li><a href="http://chi2014.acm.org/" title="April 26-May 1, 2014" target="_blank">ACM CHI 2014</a>
                </li>
                <li><a href="http://www.cs.jhu.edu/ACL2014/" title="June 22-27, 2014" target="_blank">ACL 2014</a>
                </li>
                <li><a href="http://sigir.org/sigir2014/" title="July 6-11, 2014" target="_blank">ACM SIGIR 2014</a>
                </li>
                <li><a href="http://www.aaai.org/Conferences/AAAI/aaai14.php" title="July 27-31, 2014" target="_blank">AAAI 2014</a>
                </li>
                <li><a href="http://nips.cc/FutureConferences/" title="December 8-11, 2014, Montreal, Quebec, Canada" target="_blank">NIPS 2014</a>
                </li>
                <li><a href="http://www.kdd.org/kdd2014/" title="August 24-27, 2014, NYC" target="_blank">KDD 2014</a>
                </li>
                <li><a href="http://www.icwsm.org/2014/index.php" title="June 2-4, 2014, Ann arbor, MI" target="_blank">ICWSM 2014</a>
                </li>
                <li><a href="http://icml.cc/2014/" title="June 21-26, 2011, Beijing, China" target="_blank">ICML 2014</a>
                </li>
                <li><a href="http://ijcai.org" title="August 3-9, 2015, Buenos Aires, Argentina" target="_blank">IJCAI 2015</a>
                </li>
                <li><a href="http://www.iccv2013.org" title="2015, Santiago, Chile" target="_blank">ICCV 2015</a>
                </li>
                <li><a href="http://auai.org/uai2014/" title="July 23-27, 2014, Quebec City, Quebec, Canada" target="_blank">UAI 2014</a>
                </li>
            </ul>
            <h3>Journals</h3>
            <ul class="links">
                <li><a href="http://www.jair.org" target="_blank">Journal of Artificial Intelligence Research</a>
                </li>
                <li><a href="http://jmlr.csail.mit.edu/" target="_blank">Journal of Machine Learning Research</a>
                </li>
                <li><a href="http://www.elsevier.com/wps/find/journaldescription.cws_home/505601/description#description" target="_blank">Artificial Intelligence</a>
                </li>
                <li><a href="http://jacm.acm.org/" target="_blank">Journal of the ACM</a>
                </li>
                <li><a href="http://www.springer.com/computer/ai/journal/10994" target="_blank">Machine Learning</a>
                </li>
            </ul>
            <h3>Resources</h3>
            <ul class="links">
                <li><a href="http://aclweb.org/anthology-new/" target="_blank">ACL Anthology</a>
                </li>
                <li><a href="http://www.mlss.cc" target="_blank">Machine Learning Summer Schools</a>
                </li>
                <li><a href="http://www.casos.cs.cmu.edu/computational_tools/tools.html" target="_blank">Computational Models and Social Network Tools (CASOS, CMU)</a>
                </li>
                <li><a href="http://www.cs.pitt.edu/mpqa/opinionfinderrelease/" target="_blank">OpinionFinder</a>
                </li>
                <li><a href="http://alias-i.com/lingpipe/" target="_blank">LingPipe</a>
                </li>
                <li><a href="http://world-gazetteer.com/" target="_blank">Gazetteer</a>
                </li>
            </ul>
            <h3>Lab Materials</h3>
            <ul class="links">
                <li><a href="resources/logos.zip">U&I Lab Emblems</a>
                </li>
                <li><a href="resources/paper-template.zip">Paper Template</a>
                </li>
            </ul>
        </div>
    </div>
</div>
