<div>
    <div id="content_region">
        <div id="sidebar">
            <h2>Members</h2>
            <ul class="sidebar_menu">
            <li><a href="#pi">Principal Investigator</a></li>
            <li><a href="#phd">Ph.D. Candidates</a></li>
            <li><a href="#ms">Master Candidates</a></li>
            <li><a href="#under">Undergraduate Students</a></li>
            <li><a href="#researcher">Researchers</a></li>
            <li><a href="#collabo">Collaborator</a></li>
            <li><a href="#alumni">Alumni</a></li></ul>
        </div>
        <div id="content">
                <h3><a name="pi">Principal Investigator</a></h3>
                <table class="member_table"><tr>
                        <!--<td class="member_photo"><img src="images/facebook.jpg" alt="Alice Haeyun Oh" width="140px" height="140px" /></td>-->
                        <td class="member_photo"><img src="images/aliceoh.jpg" alt="Alice Haeyun Oh" width="140px" /></td>
                        <td class="member_profile">
                            <ul>
                            <li class="name"><a href="http://uilab.kaist.ac.kr/members/aliceoh/">Alice Oh</a></li>
                            <li class="email">alice.oh&#64;kaist.edu</li>
                            <li class="education">Ph.D. in Electrical Engineering and Computer Science, 2008, MIT</li>
                            <li class="education">M.S. in Language and Information Technologies, June 2000, CMU</li>
                            <li class="education">B.S. in Mathematics, June 1996, MIT</li>
                            </ul>
                        </td>
                </tr></table>
                <h3><a name="phd">Ph.D. Candidates</a></h3>
                <table class="member_table">
                <tr>
                        <td class="member_photo"><img src="joonkim/joon.jpg" alt="Joonhee Kim" width="140px" height="140px" /></td>
                        <td class="member_profile">
                            <ul>
                            <li class="name">Joon Hee Kim</li>
                            <li class="email">joon.kim&#64;kaist.ac.kr</li>
                            <li class="research">Bayesian Data Analysis, Hierarchical Bayesian Models, Topic Modeling, Human Cognition Modeling</li>
                            <li class="cv"><a href="https://docs.google.com/document/pub?id=1_bA7SD0ivUpB-HhXlgL7ND_l3DO-uTZN2KICMON2ESU" title="CV">[CV]</a></li>
                            </ul>
                        </td>
                </tr>
                <tr>
                        <td class="member_photo"><a href="http://uilab.kaist.ac.kr/members/suinkim/"><img src="suinkim/suinkim.png" alt="Suin Kim" width="140px" height="140px" /></a></td>
                        <td class="member_profile">
                            <ul>
                            <li class="name"><a href="http://uilab.kaist.ac.kr/members/suinkim/">Suin Kim</a></li>
                            <li class="email">suin.kim&#64;kaist.ac.kr</li>
                            <li class="research">Emotion & Sentiment Analysis, Bayesian Nonparametrics, Psychological Modeling</li>
                            
                            <li class="cv"><a href="suinkim/suin_kim_cv.pdf" title="CV">[CV]</a></li>

                            </ul>
                        </td>
                </tr>
                <tr>
                        <td class="member_photo"><img src="images/BJY_140.jpg" alt="JinYeong Bak" width="140px" height="140px" /></td>
                        <td class="member_profile">
                            <ul>
                            <li class="name"><a href="http://uilab.kaist.ac.kr/members/jinyeongbak/">JinYeong Bak</a></li>
                            <li class="email"><a href="http://nosyu.pe.kr/2496"><img src="jinyeongbak/email_jyb.gif" /></a></li>
                            <li class="research">Online Learning, Interactive Machine Learning, Social Network, Bayesian Data Analysis</li>
                            
                            <li class="cv"><a href="jinyeongbak/JinYeong_Bak_CV.pdf" title="CV">[CV]</a></li>

                            </ul>
                        </td>
                </tr>
                <tr>
                        <td class="member_photo"><img src="images/jaewon.png" alt="#" width="140px" height="140px" /></td>
                        <td class="member_profile">
                            <ul>
                            <li class="name"><a href="http://uilab.kaist.ac.kr/members/jaewonkim/" style="color: #337ab7; background-color:transparent; text-decoration: underline">Jae Won Kim </a></li>
                            <li class="email">jaewonk&#64;kaist.ac.kr</li>

                            <li class="research">Computational Social Science, Topic Modeling, Big Data Analysis</li>
                            

                            </ul>
                        </td>
                </tr>


                </table>
                <h3><a name="ms">Master Candidates</a></h3>
                <table class="member_table">

                <tr>
                        <td class="member_photo"><img src="images/kimdwkimdw.jpg" alt="#" width="140px" height="140px" /></td>
                        <td class="member_profile">
                            <ul>
                            <li class="name"><a href="#">Dongwoo Kim</a></li>
                            <li class="email">dongwoo.kim&#64;kaist.ac.kr</li>

                            <li class="research"></li>
                            

                            </ul>
                        </td>
                </tr>
                <tr>
                        <td class="member_photo"><img src="images/jeongmin.jpg" alt="#" width="140px" height="140px" /></td>
                        <td class="member_profile">
                            <ul>
                            <li class="name"><a href="#">Jeongmin Byun</a></li>
                            <li class="email">jmbyun&#64;kaist.ac.kr</li>

                            <li class="research"></li>
                            

                            </ul>
                        </td>
                </tr>
                <tr>
                        <td class="member_photo"><!--img src="images/Sooyoung.JPG" alt="#" width="140px" height="140px" /></td-->
                            <div style="height:140px;width:140px;background-image:url(images/Sooyoung.JPG);background-size:140px auto;background-repeat:no-repeat;"></div>
                        <td class="member_profile">
                            <ul>
                            <li class="name"><a href="#">Sooyoung Kim</a></li>
                            <li class="email">aquinata&#64;kaist.ac.kr</li>

                            <li class="research"></li>
                            

                            </ul>
                        </td>
                </tr>



                </table>
<!-- -->
<!--
                <h3><a name="under">Undergraduate Students</a></h3>

                <table class="member_table">
                <tr>
                    <td class="member_photo">
                        <img src="images/simpson.png" height="140px" width="140px">
                    </td>
                    <td class="member_profile">
                        <ul>
                            <li class="name">Sang Ho Lee</li>
                        </ul>
                    </td>
                </tr>
                </table>
-->
<!--                <h3><a name="researcher">Researchers</a></h3>
                <table class="member_table">
                </table>
-->
                <h3><a name="collabo">Collaborator</a></h3>
                <table class="member_table"><tr>
                        <td class="member_photo"><img src="images/ilchul_moon.jpg" alt="Il-chul Moon" /></td>
                        <td class="member_profile">
                            <ul>
                            <li class="name"><a href="http://seslab.kaist.ac.kr" target="_blank">Il-chul Moon</a></li>
                            <li class="email">icmoon&#64;smslab.kaist.ac.kr</li>
                            <li class="research">Social Network Analysis, Multi-Agent Modeling and Simulation, Game Theory, Machine Learning, and Artificial Intelligence</li>
                            </ul>
                        </td>
                </tr>
                </table>

                <h3><a name="staff">Staff</a></h3>
                <table class="member_table"><tr>
                        <td class="member_photo"><img src="images/ses75.png" /></td>
                        <td class="member_profile">
                            <ul>
                            <li class="name">Eun-Soon Shin</a></li>
                            <li class="email">ses75&#64;kaist.ac.kr</li>
                            </ul>
                        </td>
                </tr>
                </table>

                <h3><a name="alumni">Alumni</a></h3>
                <table class="member_table">
                <tr>
                        <td class="member_photo"><img width=140 height=140 src="images/dongwoo2.png" alt="Dongwoo Kim" /></td>
                        <td class="member_profile">
                            <ul>
                            <li class="name"><a href="http://uilab.kaist.ac.kr/members/dongwoo/">Dongwoo Kim</a> (Ph.D., 2015)</li>
                            <li class="email">dw.kim&#64;kaist.ac.kr</li>
                            <li class="research"></li>
                            <li class="cv"><a href="http://uilab.kaist.ac.kr/members/dongwoo/cv.pdf" title="CV">[CV]</a></li>
                            </ul>
                        </td>
                </tr>

                <tr>
                        <td class="member_photo"><img src="images/yeool.jpg" alt="#" width="140px" height="140px" /></td>
                        <td class="member_profile">
                            <ul>
                            <li class="name"><a href="#">Yeooul Kim</a> (Master's, 2013)</li>
                            <li class="email">yeooulkim&#64;kaist.ac.kr</li>

                            <li class="research">Agency for Defense Development</li>
                            

                            </ul>
                        </td>
                </tr>
                <tr>
                        <td class="member_photo"><img src="images/profile.png" alt="#" width="140px" height="140px" /></td>
                        <td class="member_profile">
                            <ul>
                            <li class="name"><a href="#">Bumsoo Kang</a> (Master's, 2013)</li>
                            <li class="email">steve.kang&#64;kaist.ac.kr</li>
                            <li class="research">Ph.D. student, NC Lab @ KAIST</li>
                            
                            </ul>
                        </td>
                </tr>

                <tr>
                    <td class="member_photo">
                        <img src="images/trung3.png" height="140px" width="140px">
                    </td>
                    <td class="member_profile">
                        <ul>
                            <li class="name"><a href="https://sites.google.com/site/trunganu/" target="_blank">Trung Nguyen (Undergrad Researcher, 2011)</a></li>
                            <li class="email">trung.ngvan&#64;gmail.com</li>
                            <li class="research">Ph.D. student, ANU & NICTA</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                        <td class="member_photo"><img src="images/yohanjo.jpg" alt="Yohan Jo" width="140px" height="140px" /></td>
                        <td class="member_profile">
                            <ul>
                            <li class="name"><a href="http://uilab.kaist.ac.kr/members/yohanjo" target="_blank">Yohan Jo (Master's, 2011)</a></li>
                            <li class="email">yohan.jo&#64;kaist.ac.kr</li>
                            <li class="research">Master's student, Language Technologies Institute @ CMU</li>
                            <li class="cv"><a href="http://uilab.kaist.ac.kr/members/yohanjo" title="cv" target="_blank">[CV]</a></li>
                            </ul>
                        </td>
                </tr>
                <tr>
                        <td class="member_photo"><img src="images/sunjun_kim.jpg" alt="Sunjun Kim"></td>
                        <td class="member_profile">
                            <ul>
                            <li class="name">Sunjun Kim (Master's, 2011)</li>
                            <li class="email">inornate&#64;kaist.ac.kr</li>
                            <li class="research">Ph.D. student, HCI Lab @ KAIST</li>
                            <li class="cv"><a href="http://docs.google.com/View?id=dgkz66fb_36drzgsqgm" title="CV">[CV]</a></li>
                            </ul>
                        </td>
                </tr>
                <tr>
                        <td class="member_photo"><img src="images/youngmin_kim.jpg" alt="Youngmin Kim" /></td>
                        <td class="member_profile">
                            <ul>
                            <li class="name">Youngmin Kim (Master's, 2010)</li>
                            <li class="email">creatcross&#64;kaist.ac.kr</li>
                            <li class="research">Financial Services Commission</li>
                            </ul>
                        </td>
                </tr>
                <tr>
                        <td class="member_photo"><img src="images/hyunjong_lee.jpg" alt="Hyunjong Peter Lee" /></td>
                        <td class="member_profile">
                            <ul>
                            <li class="name">Hyunjong Peter Lee (Master's, 2010)</li>
                            <li class="email">lhjgine&#64;kaist.ac.kr</li>
                            <li class="research">Bluehole Studio</li>
                            </ul>
                        </td>
                </tr>
                <tr>
                        <td class="member_photo"><img src="images/francis.jpg" alt="Francis" /></td>
                        <td class="member_profile">
                            <ul>
                            <li class="name">Francis (Master's, 2010)</li>
                            <li class="email">frojas&#64;kaist.ac.kr</li>
                            <li class="research">AI & Media Lab @ KAIST</li>
                            </ul>
                        </td>
                </tr>
                </table>
        </div>
    </div>
</div>