
<!-- <div class="sub-header">
    <h2>Members</h2>
    <ul>
        <li><a href="#pi">Principal Investigator</a></li>
        <li><a href="#phd">Ph.D. Candidates</a></li>
        <li><a href="#ms">Master Candidates</a></li>
        <li><a href="#under">Undergraduate Students</a></li>
        <li><a href="#researcher">Researchers</a></li>
        <li><a href="#collabo">Collaborator</a></li>
        <li><a href="#alumni">Alumni</a></li>
    </ul>
</div> -->

<div class="sub-headered-content members" ng-controller="MembersCtrl">
    <ul class="group-list">
        <li ng-repeat="group in member_groups">
            <h3>{{group.title}}</h3>  
            <ul class="member-list">
                <li ng-repeat="member in group.members">
                    <img ng-src="{{member.image}}" />
                    <ul class="attributes">
                        <li class="name">{{member.name}}</li>
                        <li class="email">{{member.email}}</li>
                        <li ng-repeat="content in member.attributes" class="{{content[0]}}">{{content[1]}}</li>
                        <li class="links">
                            <ul>
                                <li ng-repeat="link in member.links">
                                    <a ng-href="{{link[1]}}" target="_blank">{{link[0]}}</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>        
        </li>      
    </ul>
</div>