<div>
    <div>
        <h3>Topics</h3>
        <ul class="links">
            <li>Computational Social Science</li>
            <li>Topic Modeling</li>
        </ul>
        <h3>Publications</h3>
        <ul class="links">
            <li>
                <b>Towards Understanding Relational Orientation: Attachment 
Theory and Facebook Activities</b>
                <br/> Bumsoo Kang, Sujin Lee, Seungwoo Kang, Junehwa Song, Inseok Hwang and Alice Oh
                <br/>
                <i>To appear in Proceedings of the18th 
ACM Conference on Computer-Supported Cooperative Work and Social 
Computing (CSCW 2015)</i>
                <br />
            </li>
            <li>
                <b>Self-disclosure topic model for classifying and analyzing Twitter conversations</b>
                <br/> JinYeong Bak, Chin-Yew Lin and Alice Oh
                <br/>
                <i>International Conference on Empirical Methods in Natural Language Processing (EMNLP 2014), Doha, Qatar, 2014</i>
                <br />
                <a href="/research/EMNLP2014/emnlp2014_bak_lin_oh.pdf" class="file_link">[PDF]</a> <a href="/research/EMNLP2014/" , class="file_link">[Code and Data]</a> <a href="/research/EMNLP2014/EMNLP2014_Slides.pdf" class="file_link">[Slides]</a>
            </li>
            <li>
                <b>Diversity-seeking Users and Their Influence on Social News Sites</b>
                <br /> Jooyeon Kim, Joon Hee Kim, Dongwoo Kim, Alice Oh
                <br/>
                <i>Workshop on Data Science for News Publishing (NewsKDD) at KDD 2014</i>
                <br/>
                <a href="/research/KDD2014/newskdd2014_submission_13.pdf" class="file_link">[PDF]</a>
                <a href="/research/KDD2014/newskdd.pdf" class="file_link">[Slides]</a>
            </li>

            <li>
                <b>Sociolinguistic Analysis of Twitter in Multilingual Societies</b>
                <br /> Suin Kim, Ingmar Weber, Li Wei and Alice Oh
                <br/>
                <i>Hypertext 2014, the 25th ACM Conference on Hypertext and Social Media (HT'14). (Short paper) </i>
                <br/>
                <a href="/research/HT14/twitter_languages.pdf" class="file_link">[PDF]</a>
                <a href="/research/HT14/HT14.pdf" class="file_link">[Slides]</a>
            </li>
            <li>
                <b>Self-disclosure topic model for Twitter conversations</b>
                <br /> JinYeong Bak, Chin-Yew Lin and Alice Oh
                <br/>
                <i>Workshop on Social Dynamics and Personal Attributes in Social Media at the 52nd Annual Meeting of the Association for Computational Linguistics. </i>
                <br/>
                <a href="/research/ACLJWSDPA14/ACLWorkshop_bak_lin_oh.pdf" class="file_link">[PDF]</a>
            </li>
            <li>
                <b>Hierarchical Dirichlet Scaling Process</b>
                <br /> Dongwoo Kim, Alice Oh
                <br/>
                <i>The 31st International Conference on Machine Learning (ICML 2014), Beijing, China, 2014</i>
                <br/>
                <a href="/research/ICML14/icml2014_kim.pdf" class="file_link">[PDF]</a> <a href="/research/ICML14/icml2014_kim_appendix.pdf" class="file_link">[Appendix]</a> <a href="/research/ICML14/hdsp.zip" class="file_link">[Code]</a>
            </li>

            <li>
                <b>A Computational Analysis of Agenda Setting</b>
                <br /> Yeooul Kim, Suin Kim, Alejandro Jaimes, Alice Oh
                <br />
                <i>The 23rd International World Wide Web Conference (WWW 2014) (2-page poster)</i>
                <br />
                <a href="/research/WWW2014/www2014_yeooul.pdf" class="file_link">[PDF]</a>
            </li>
            <li>
                <b>Context-Dependent Conceptualization</b>
                <br /> Dongwoo Kim, Haixun Wang, Alice Oh
                <br />
                <i>The Twenty-Third International Conference on Aritifical Intelligence (IJCAI 2013)</i>
                <br />
                <a href="/research/IJCAI13/ijcai13_dongwoo_camera_ready.pdf" class="file_link">[PDF]</a> <a href="/research/IJCAI13/context2013.txt" class="file_link">[Bibtex]</a>
            </li>
            <li>
                <b>A Hierarchical Aspect-Sentiment Model for Online Reviews</b>
                <br /> Suin Kim, Jianwen Zhang, Zheng Chen, Alice Oh, Shixia Liu
                <br />
                <i>The Twenty-Seventh AAAI Conference on Artificial Intelligence (AAAI-13).</i>
                <br />
                <a href="/research/AAAI-13/6486-31246-1-PB.pdf" class="file_link">[PDF]</a>
                <a href="/research/AAAI-13/HASM_techreport.pdf" class="file_link">[Supplimentary]</a>
                <a href="/research/AAAI-13/HASM.zip" class="file_link">[Code]</a>
                <a href="/research/AAAI-13/HASM_Jul15.pdf" class="file_link">[Slides]</a>
                <a href="/research/AAAI-13/HASM_Poster.pdf" class="file_link">[Poster]</a>
                <a href="/research/AAAI-13/bibtex.txt" class="file_link">[Bibtex]</a>
            </li>
            <li>
                <b>Distributed Online Learning for Latent Dirichlet Allocation</b>
                <br /> JinYeong Bak, Dongwoo Kim, Alice Oh
                <br />
                <i>Workshop on Big Learning : Algorithms, Systems, and Tools at the Neural Information Processing Systems. 2012.</i>
                <br />
                <a href="/research/NIPSBL12/nips2012_bak_kim_oh.pdf" class="file_link">[PDF]</a> <a href="/research/NIPSBL12/nips2012_bak_kim_oh_supplementary.pdf" , class="file_link">[Supplementary]</a> <a href="/research/NIPSBL12/" , class="file_link">[Code and Data]</a>
            </li>
            <li>
                <b>Modeling Topic Hierarchies with the Recursive Chinese Restaurant Process</b>
                <br /> Joon Hee Kim, Dongwoo Kim, Suin Kim, Alice Oh
                <br />
                <i>The 21st ACM International Conference on Information and Knowledge Management (CIKM 2012).</i>
                <br />
                <a href="/research/CIKM12/cikm2012.pdf" class="file_link">[PDF]</a> <a href="/research/CIKM12/cikm2012slide.pdf" , class="file_link">[Slides]</a> <a href="https://github.com/neckercube/rCRP" class="file_link">[Code]</a>

            </li>
            <li>
                <b>Dirichlet Process with Mixed Random Measures: A Nonparametric Topic Model for Labeled Data</b>
                <br /> Dongwoo Kim, Suin Kim, Alice Oh
                <br />
                <i>The 29th International
Conference on Machine Learning (ICML 2012).</i>
                <br />
                <a href="/research/ICML11/dongwoo_icml2012_final_submission.pdf" class="file_link">[PDF]</a> <a href="/research/ICML11/dongwoo_icml2012_slides.pdf" , class="file_link">[Slides]</a> </a> <a href="/research/ICML11/20120619-ICML-Poster.pdf" , class="file_link">[Poster]</a>
                <a href="/members/dongwoo/bibtex/kim2012icml.txt" , class="file_link">[Bibtex]</a>
            </li>
            <li>
                <b>Self-Disclosure and Relationship Strength in Twitter Conversations</b>
                <br /> JinYeong Bak, Suin Kim, Alice Oh
                <br />
                <i>The 50th Annual Meeting of the Association for Computational Linguistics (ACL 2012). (Short paper)</i>
                <br /><a href="/research/ACL2012/ACL2012_bak_kim_oh.pdf" class="file_link">[PDF]</a>
                <a href="/research/ACL2012/ACL2012_bak_kim_oh_slides.pdf" , class="file_link">[Slides]</a>
                <a href="/research/ACL2012/ACL2012_bak_kim_oh_bibtex.txt" , class="file_link">[Bibtex]</a>

            </li>
            <li>
                <b>Discovering emotion influence patterns in online social network conversations</b>
                <br /> Suin Kim, JinYeong Bak, Alice Oh
                <br />
                <i>ACM SIGWEB Newsletter Issue Autumn, Autumn 2012</i>
                <br /><a href="http://dl.acm.org/citation.cfm?id=2362634" class="file_link">[PDF]</a>
            </li>
            <li>
                <b>Do you feel what I feel? Social Aspects of Emotions in Twitter Conversations</b>
                <br /> Suin Kim, JinYeong Bak, Alice Oh
                <br />
                <i>The 6th International AAAI Conference on Weblogs and Social Media (ICWSM 2012). 2012. (4-page poster)</i>
                <br /><a href="/research/ICWSM12/ICWSM12-088.pdf" class="file_link">[PDF]</a>
                <a href="http://suinkim.kaist.ac.kr/Suin_Kim/Do_you_feel_what_I_feel.html" class="file_link">[Visualization]</a>
                <a href="/research/NIPSCSS11/nips2011_kim_bak_jo_oh.pdf" class="file_link">[4-Page Poster]</a> <a href="/research/NIPSCSS11/nips_poster_pdf.pdf" class="file_link">[Poster for 4-page paper]</a>
            </li>
            <li>
                <b>Accounting for Data Dependencies within a Hierarchical Dirichlet Process Mixture Model</b>
                <br /> Dongwoo Kim, Alice Oh
                <br />
                <i>20th ACM Conference on Information and Knowledge Managment (CIKM 2011).</i>
                <br />
                <a href="/research/CIKM11/cikm2011_dongwoo_alice.pdf" class="file_link">[PDF]</a> <a href="/research/CIKM11/CIKM-slide.pdf" class="file_link">[Slides]</a> <a href="/members/dongwoo/bibtex/kim2011cikm.txt" , class="file_link">[Bibtex]</a>
            </li>
            <li>
                <b>Topic Chains for Understanding a News Corpus</b>
                <br /> Dongwoo Kim, Alice Oh
                <br />
                <i>12th International Conference on Intelligent Text Processing and Computational Linguistics (CICLING 2011)</i>
                <br/>

                <a href="/research/CICLING2011/paper.pdf" class="file_link">[PDF]</a> <a href="/research/CICLING2011/cicling2011.pdf" class="file_link">[Slides]</a> <a href="/members/dongwoo/bibtex/kim2011cicling.txt" , class="file_link">[Bibtex]</a>
            </li>
            <li>
                <b>Aspect and Sentiment Unification Model for Online Review Analysis</b>
                <br /> Yohan Jo, Alice Oh
                <br />
                <i>ACM International Conference on Web Search and Data Mining (WSDM 2011). 2011.</i>
                <br />
                <a href="/research/WSDM11/wsdm400-jo.pdf" class="file_link">[PDF]</a> <a href="/research/WSDM11" class="file_link">[Web]</a> <a href="/research/WSDM11/ASUM.zip" class="file_link">[Code]</a> <a href="/research/WSDM11/Amazon.zip" class="file_link">[Amazon Data]</a> <a href="/research/WSDM11/Yelp.zip" class="file_link">[Yelp Data]</a> <a href="/research/WSDM11/citation.bib" class="file_link">[Bibtex]</a>
            </li>
            <li>
                <b><a href="/research/VSMM2010/Lee_Kim_Lim_Oh_Nam_Kim-2010VSMM.pdf">A Rapid Prototyping Method for Discovering User-Driven Opportunities for Personal Informatics</a></b>
                <br /> Wonjun Lee, Sunjun Kim, Youn-kyung Lim, Alice Oh, Tek-jin Nam, Kee-Eung Kim
                <br />
                <i>16Th International Conference on Virtual Systems and Multimedia (Best Paper Award)</i>
                <br />
                <a href="/research/VSMM2010/Lee_Kim_Lim_Oh_Nam_Kim-2010VSMM.pdf" class="file_link">[PDF]</a>
            </li>
            <li>
                <b>Learning Influence Propagation of Personal Blogs with Content and Analysis</b>
                <br/> Il-Chul Moon, Dongwoo Kim, Yohan Jo, Alice Oh
                <br/>
                <i>Workshop on Finding Synergies Between Texts and Networks at the IEEE International Conference On Social Computing(SocialCom 2010). 2010.</i>
                <br />
                <a href="/research/SocialCom10/Learning Influence Propagation of Personal-2010-Moon.pdf" class="file_link">[PDF]</a>
            </li>
            <li>
                <b>Users' Needs for Social Tagging and Sharing on Mobile Contacts</b>
                <br /> Trung Nguyen and Alice Oh
                <br />
                <i>ACM International Conference on Human-Computer Interaction with Mobile Devices and Services (MobileHCI). 2010. (Poster)</i>
                <br />
                <a href="/research/MobileHCI10/Users' needs for social tagging-2010-Nguyen.pdf" class="file_link">[PDF]</a>
            </li>
            <li>
                <b>Analysis of Twitter Lists as a Potential Source for Discovering Latent Characteristics of Users</b>
                </a>
                <br /> Dongwoo Kim, Yohan Jo, Il-Chul Moon, and Alice Oh
                <br />
                <i>Workshop on Microblogging at the ACM Conference on Human Factors in Computer Systems (CHI 2010). 2010.</i>
                <a href="/research/CHI10-Twitter/Analysis of Twitter Lists as--Kim.pdf" class="file_link">[PDF]</a> <a href="/members/dongwoo/bibtex/kim2010chi.txt" , class="file_link">[Bibtex]</a> <a href="/research/CHI10-Twitter/dwkim_long_version.pdf" class="file_link">[Long version]</a>
            </li>
            <li>
                <b>Personal Informatics for Discovering Human-Centered Lifecare System Opportunities</b>
                <br /> Younkyung Lim, Alice Oh, Tekjin Nam, and Kee-Eung Kim
                <br />
                <i> Workshop on Know Thyself at the ACM Conference on Human Factors in Computer Systems (CHI 2010). 2010.</i>
                <a href="/research/CHI10-Lifecare/Personal Informatics for Discovering Human-centered--Lim.pdf" class="file_link">[PDF]</a>
            </li>
            <li>
                <b>iLight: Information flashLight on Objects using Handheld Projector</b>
                <br /> Sunjun Kim, and Alice Oh
                <br />
                <i>Work in Progress at the ACM Conference on Human Factors in Computer Systems (CHI 2010). 2010.</i>
                <br />
                <a href="/research/CHI10-iLight/iLight information flashlight on objects-2010-Kim.pdf" class="file_link">[PDF]</a>
            </li>
            <li>
                <b>Temporal Issue Trend Identifications in Blogs</b>
                <br /> Il-Chul Moon, Youngmin Kim, Hyunjong Lee, and Alice Oh
                <br />
                <i> Proceedings of IEEE SocialCom Symposium on Social Computing Applications. 2009.</i>
                <br />
                <a href="/research/SocialCom09/SocialCom-2009-paper-draft-ver-8.pdf" class="file_link">[PDF]</a> <a href="/research/SocialCom09/SocialCom-2009-presentation-ver-1.pdf" class="file_link">[Poster]</a>
            </li>
            <li>
                <b>User Evaluation of a System for Classifying and Displaying Political Viewpoints of Weblogs</b>
                <br /> Alice Oh, Hyunjong Lee, and Youngmin Kim
                <br />
                <i>Proceedings of AAAI International Conference on Weblogs and Social Media. 2009. (Short Paper)</i>
                <br />
                <a href="/research/ICWSM09/User Evaluation of a System-2009-Oh.pdf" class="file_link">[PDF]</a>
            </li>

        </ul>

        <h3> Manuscripts </h3>
        <ul class="links">
            <li>
                <b> Bayesian Group Nonnegative Matrix Factorization for EEG Analysis</b>
                <br /> Bonggun Shin, Alice Oh
                <br/>
                <i> Arxiv, 2012 </i>
                <br/>
                <a href="http://arxiv.org/abs/1212.4347" class="file_link">[PDF]</a>
            </li>
            <li>
                <b> Summarizing Reviews with Variable-length Syntactic Patterns and Topic Models </b>
                <br /> Trung V. Nguyen, Alice Oh
                <br/>
                <i> Arxiv, 2012 </i>
                <br/>
                <a href="http://arxiv.org/abs/1211.4929" class="file_link">[PDF]</a>
            </li>
            <li>
                <b> Variable Selection for Latent Dirichlet Allocation </b>
                <br /> Dongwoo Kim, Yeonseung Chung, Alice Oh
                <br/>
                <i> Arxiv, 2012 </i>
                <br/>
                <a href="http://arxiv.org/abs/1205.1053" class="file_link">[PDF]</a>
            </li>
        </ul>

        <h3>Presentations</h3>
        <ul class="links">
            <li>
                <b>Learning Influence Propagation on Personal Blogs</b>
                <br /> Il-Chul Moon, Dongwoo Kim, Yohan Jo, and Alice H. Oh
                <br />
                <i>The 30th Annual International Sunbelt Social Network Conference, Trento, Italy, Jun 29-Jul 4, 2010</i>
                <br />
            </li>
        </ul>
        <h3>Software</h3>
        <ul class="links">
            <li>
                <!--<a href="http://uilab.kaist.ac.kr/~icmoon/tonk.html"><b>TONK (Text tO NetworK)</b><br /></a>-->
                <a href="http://seslab.kaist.ac.kr/xe/461"><b>TONK (Text tO NetworK)</b><br /></a> Il-Chul Moon, Yohan Jo, Dongwoo Kim, and Alice H. Oh
                <br /> TONK is a network-text analysis program for analyzing social web media.
                <br />
                <a href="TONK/TONK_Manual.pdf" class="file_link">[Manual]</a> <a href="TONK/TONK_windows-x64_1_0_1.exe" class="file_link">[Software]</a>
            </li>
        </ul>

    </div>
</div>
