
<div class="sub-headered-content researches" ng-controller="ResearchCtrl">
    <ul class="group-list">
        <li ng-repeat="group in research_groups">
            <h3>{{group.title}}</h3>  
            <ul class="research-list">
                <li ng-repeat="research in group.researches">
                    <div class="title">{{research.title}}</div>
                    <div class="authors">{{research.authors}}</div>
                    <div class="booktitle">{{research.booktitle}}</div>
                    <ul class="links">
                        <li ng-repeat="(link_title, link) in research.links"><a ng-href="{{link}}">{{link_title}}</a></li>
                    </ul>
                </li>
            </ul>        
        </li>      
    </ul>
</div>